{% extends 'website/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row post-section">
        <div class="col-5"></div>
        <div class="col-7">
            <h2 style="padding-bottom: 15px">About</h2>
            <p>Last week China slapped down democracy in Hong Kong. The imposition of tight mainland control over the
                territory is not just a tragedy for the 7.5m people who live there, it is also a measure of China’s
                determination not to compromise over how it asserts its will. After the collapse of the Soviet Union in
                1991, liberal values were ascendant around the world. The challenge from China will subject them to
                their greatest test since the early days of the cold war. What is more, as the economy of Hong Kong also
                shows, China is more tightly coupled with the West than communist Russia ever was. This presents the
                free world with an epoch-defining question: how should it best secure prosperity, lower the risk of war
                and protect freedom as China rises?</p>
        </div>
    </div>
</div>
{% endblock content %}