{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link href="{% static 'css/base.css' %}" type="text/css" rel="stylesheet">

    <!-- fabicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'css/favicon.png' %}">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap" rel="stylesheet">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'post_by_category' 'Daily Life' %}">Daily Life</a>
                        <a class="dropdown-item" href="{% url 'post_by_category' 'Study & Work' %}">Study & Work</a>
                        <a class="dropdown-item" href="{% url 'post_by_category' 'Travel' %}">Travel</a>
                        <a class="dropdown-item" href="{% url 'post_by_category' 'House' %}">House</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <form class="form-inline" action="{% url 'search_result' %}" method="get">
                <input name="q" class="form-control search-form" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success search-button" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <title>Rightly Move to the UK</title>
    <div class="page-header">
        <h1><a href="{% url 'home' %}">Rightly Move to the UK</a></h1>
    </div>
    <div class="row category-menu">
        <div class="col-lg-3 category-item"><a href="{% url 'post_by_category' 'Daily Life' %}">Daily Life</a></div>
        <div class="col-lg-3 category-item"><a href="{% url 'post_by_category' 'Study & Work' %}">Study & Work</a></div>
        <div class="col-lg-3 category-item"><a href="{% url 'post_by_category' 'Travel' %}">Travel</a></div>
        <div class="col-lg-3 category-item"><a href="{% url 'post_by_category' 'House' %}">House</a></div>
    </div>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-lg-3 sidebar">
            <div class="sidebar side-about">
                <h4>About</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>
            <div class="sidebar sidebar-sticky">
            <div class="sidebar tag-list">
                <h4>Tags</h4>
                {% for tag in tags %}
                <a href="{% url 'post_tag' tag.slug %}" class="tag-button btn btn-sm mb-1">#{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="sidebar popular-list">
                <h4>Popular Posts</h4>
                <div class="popular-post-wrapper">
                {% for post in popular_posts %}
                    <a href="{% url 'post_detail' post.pk %}"><div class="popular-post-title">{{ post.title }}</div></a>
                    <p><small>{{ post.text|truncatechars:60|linebreaksbr }}</small></p>
                {% if post.image %}
                <img class="post-image" align="center" src="{{ post.image.url }}" alt="{{ post.title }}"><br><br>
                {% endif %}
                {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
<div class="footer">
    <div class="container text-center">
        <div class="copyright-wrapper"><small>Copyright © 2021 JW Choi<br/>
            Opinions expressed here are solely those of the author.</small></div>
    </div>
</div>