{% extends 'website/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row post-section">
        <div class="col-4"></div>
        <div class="col-8 mx-auto post">
            {% for post in posts %}<br>
            <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
            <p>{{ post.date }} |{% for category in post.category.all %}
                <a class="category-topic" href="{% url 'post_by_category' category.topic %}">{{ category.topic }}</a>
                {% endfor %} </p>
            <p>{{ post.text|truncatechars:500|linebreaksbr }}</p>
            {% if post.image %}
            <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }}"><br><br>
            {% endif %}

            {% for tag in post.tags.all %}
            <a href="{% url 'post_tag' tag.slug %}" class="tag-button btn btn-sm mb-1">#{{ tag }}</a>
            {% endfor %}
            <br><br><hr>
            {% endfor %}
            <br><br>
            {% if post_list.has_other_pages %}
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    {% if post_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ post_list.previous_page_number }}">Prev</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
                    </li>
                    {% endif %}
                    {% for i in post_list.paginator.page_range %}
                    {% if post_list.number == i %}
                    <li class="page-item active" aria-current="page">
                                <span class="page-link">
                                    {{ i }}
                                <span class="sr-only">(current)</span>
                                </span>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if post_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ post_list.next_page_number }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
    </div>
</div>
{% endblock content %}