{% extends 'website/base.html' %}
{% block content %}
<div class="content-fluid">
    <div class="row" style="padding-top: 50px">
        <div class="col-lg-3" style="padding-left: 50px; padding-right: 50px"></div>
        <div class="col-lg-6 post" style="; padding-top: 40px; padding-left: 150px; padding-right: 20px; padding-bottom: 20px">
            <h3>{{ post.title }}</h3>
            in {% for category in categories %}{{ category.topic }} {% endfor %}</a>
            <p>{{ post.date }}</p>
            <p>{{ post.text }}</p>
        </div>
    </div>
</div>
{% endblock content %}