.navbar {
    padding-left: 50px;
}

.page-header {
    padding: 150px 150px 100px 150px;
    text-align: center;
    background-color: #e3e3e3;
}

.page-header h1 a {
    color: black;
    font-family: 'Cookie';
    font-size: 75pt;
    font-weight: bold;
    text-decoration: none;
}

.h1, h2, h3, h4, p {
    font-family: 'Georgia';
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.image {
    width: 650px;
}

.detail-image {
    width: 750px;
}